header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
        text-transform: uppercase;
    }

    .language-buttons {
        margin-right: 15px;
        width: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}