h1 {
    font-size: 64px;
    letter-spacing: 8px;
}

h2 {
    font-size: 32px;
    letter-spacing: 8px;
}

h3 {
    font-size: 32px;

}

a {
    font-size: 25px;
    letter-spacing: 8px;
}


p,
input,
textarea {
    font-size: 25px;
    letter-spacing: 8px;
}

.presentation-div-button,
.contact-form {
    button {
        font-size: 25px;
        letter-spacing: 8px;
    }
}